<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/faceapp.css' %}">
    <style type="text/css">
      .row{
        margin: 0;
      }
    </style>
  </head>
  <body>
      <h2>
          {{data}}
      </h2>

      <div class="row" id="formulario" style="margin-top: 10px;">
        <div class="col-xs-6 col-md-2"></div>
        <div class="col-xs-6 col-md-8" style="text-align: center;
                    border: slateblue solid 5px; border-radius: 10px; 
                    padding: 5px;">
                    <form action="/constructor/" method="post">
                      {% csrf_token %}
                      <p><h4>Interfaz clara u oscura:</h4><br>
                        <!-- <label for="interfaz"></label> -->
                        <div class="row" id="selector">
                        <div class="col-xs-6 col-md-6">
                        <label for="interfaz1" style="cursor: pointer;"><img src="{% static 'images/clara.jpg' %}" alt="clara" width="150vw"></label><br>
                        <input id="interfaz1" type="radio" name="interfaz" value="clara" required> 
                        <label for="interfaz1" style="cursor: pointer;">Clara</label>
                        </div>
                        <div class="col-xs-6 col-md-6">
                        <label for="interfaz2" style="cursor: pointer;"><img src="{% static 'images/oscura.jpg' %}" alt="oscura" width="150vw"></label><br>
                        <input id="interfaz2" type="radio" name="interfaz" value="oscura" required>
                        <label for="interfaz2" style="cursor: pointer;">Oscura</label>
                        </div>
                        </div>
                      </p>
                      <input type="submit" value="Generar">
                    </form>  
                  </div>
        <div class="col-xs-6 col-md-2"></div>
      </div>

  </body>