<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/faceapp.css' %}">
    <style type="text/css">
      .row{
        margin: 0;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center; padding: 10px; background-color: slateblue; color: white; margin-bottom: 0;">¡Galeriador UMA!</h1>
    <div style="height: 3px;"></div>
    <p style="height: 5px; background-color: slateblue;"></p>
      <div class="row" style="margin-top: 10px;">
        <div class="col-xs-6 col-md-2"></div>
        <div class="col-xs-6 col-md-8" style="text-align: center;
                    border: slateblue solid 5px; border-radius: 10px;">
                    <h4 style="padding-top: 5px;">{{path}}</h4>
                    <button class="copy-button"><a href="http://localhost:8000/" style="text-decoration:none; color: black">← Volver</a></button>
                    <p></p>
                  </div>
        <div class="col-xs-6 col-md-2"></div>
      </div>

      <br>
      <footer style="width: 100%; background-color: slateblue">
          <div class="row">
              <div class="col-sm-12" style="height: 3px;"></div>
          </div>
          <div class="row">
              <div class="col-sm-12" style="background-color: #FFF; height: 2px;"></div>
          </div>
          <div class="row">
              <div class="col-sm-12" style="text-align: center; padding-top: 10px;"><img src="{% static 'images/footer_2.png' %}" height="62px"></div>
          </div>
          <div class="row">
              <div class="col-sm-12" id="textfooter" style="text-align: center; color: white; font-weight: bold; padding-top: 10px;">Universidad de Malaga · Vicerrectorado de Smart-Campus · smart@uma.es</div>
          </div>
      </footer>

  </body>